@import "../vendor/bootstrap-3.1.1/less/bootstrap.less";

.aside {
	color: @gray;
	font-size: 0.9em;
	padding: 8px;
}

a.register {
	padding-top: 8px;
	display: block;
}
.projects.chips {
	.thumbnail {	
		height: 240px;
		margin: 20px 0;
		img {
			max-height: 150px;
			max-width: 150px;
		}
	}

}

#table.projects {
	img {
		max-height: 75px;
		max-width: 150px;
	}
}

.register {
	.bg-info, .bg-warning, .bs-success {
		padding: 15px;
	}
	.form {
		margin-top: 20px;
		.form-group {
			 input[type="text"],
			 input[type="password"],
			 input[type="email"] {
			 	.make-md-column(4);
			 }
			 label {
			 	.make-md-column(3);
			 }
			 .help-block {
			 	.make-md-column(4);}
		}
		 input[type="submit"] {
		 	.btn;
		 	.btn-primary;
		 }
	}
}

.no-projects {
	.alert;
	.alert-info;
}

.error {
	.has-error;
}
